/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: var(--font-weight-card);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79vh;
  width: 100%;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--content-section-width);
  height: var(--header-section-height);
  text-align: center;
  gap: 20px;
  background-color: rgb(255 255 255);
  border: var(--window-border);
}

.header__title {
  font-family: var(--font-accent), sans-serif;
  font-variation-settings: var(--font-weight-card);
  font-size: clamp(3.0625rem, 2.7993rem + 1.4035vw, 4.0625rem);
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--font-accent), sans-serif;
  font-variation-settings: var(--font-weight-card);
  font-size: clamp(0.875rem, 0.727rem + 0.7895vw, 1.4375rem);
  text-transform: uppercase;
}

.cards {
  display: grid;
  row-gap: var(--main-section-gap);
}

.card {
  display: flex;
  flex-direction: column;
  width: var(--content-section-width);
  min-height: fit-content;
  border: var(--window-border);
  background-color: blue;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  padding: 4px 10px 6px 10px;
}

.card__illustration {
  position: relative;
}

.card__img {
  width: 100%;

}

.card__text {
  padding: 25px 25px 0px 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__like-button {
  display: flex;
  position: relative;
  justify-content: center;
  max-width: min-content;
  border: var(--window-border);
}

.button__text {
  font-family: var(--font-accent);
  font-weight: var(--font-weight-card);
  font-size: 14px;
}

.like-button {
  padding: 10px 35px 10px 35px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-top: 25px;
  align-self: flex-end;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__save-button {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin-top: 52px;
  margin-block-end: 100px;               /* fix вероятно надо сменить */
  border: var(--window-border);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: var(--save-button-top-and-bottom-padding);
  padding-bottom: var(--save-button-top-and-bottom-padding);

}

.footer__save-icon {
  height: 28px;
  width: 28px;

}
