/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" var(--font-weight-card);
  background-image: var(--gradient-background);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block-start: 100px;
  margin-block-end: 102px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--content-section-width);
  text-align: center;
  gap: 20px;
  background-color: var(--brand-color);
  border: var(--window-border);
}

.header__title {
  font-family: var(--font-accent), Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" var(--font-weight-card);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  margin-block-start: calc(
    120px + (128 - 120) * ((100vw - 375px) / (1400 - 375))
  );
}

.header__subtitle {
  font-family: var(--font-accent), sans-serif;
  font-variation-settings: "wght" var(--font-weight-card);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-end: calc(
    120px + (128 - 120) * ((100vw - 375px) / (1400 - 375))
  );
}

.cards {
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: var(--main-section-gap);
}

.card {
  display: flex;
  flex-direction: column;
  width: var(--content-section-width);
  min-height: fit-content;
  border: var(--window-border);
  background-color: var(--brand-color);
}

.card__title {
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: 18px;
  padding: 4px 10px 6px 10px;
}

.card__illustration {
  position: relative;
  display: flex;
  overflow: hidden;
  border-bottom: var(--window-border);
  border-top: var(--window-border);
  /* border-top, border-bottom: inset 1px var(--accent-color); */
}

.card__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card__illustration-label {
  position: absolute;
  font-family: var(--font-accent), Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px var(--brand-color), -1px -1px var(--brand-color),
    1px -1px var(--brand-color), -1px 1px var(--brand-color);
  top: 23px;
  right: 11px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px rgba(255, 255, 255, 0.5)) or
    (-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5))
) {
  .card__illustration-label p {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-stroke: 1px rgba(255, 255, 255, 0.5);
    text-shadow: none;
  }
}

.card__text {
  padding: 23px 25px 2px 25px;
  font-size: 18px;
  line-height: 21px;
}

@supports (
  (text-stroke: -4px 4px 4px rgba(255, 0, 234, 0.2)) or
    (-webkit-text-stroke: -4px 4px 4px rgba(255, 0, 234, 0.2))
) {
  .card__illustration-label p {
    -webkit-text-stroke: -4px 4px 4px rgba(255, 0, 234, 0.2);
    text-stroke: -4px 4px 4px rgba(255, 0, 234, 0.2);
    text-shadow: none;
  }
}

.card__buttons {
  display: flex;
  flex-direction: row;
  margin-block-start: 25px;
  margin-block-end: 25px;
  margin-right: 25px;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 7px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  height: 38px;
  width: 38px;
  padding: 0;
  transition: 0.3s ease;
  box-sizing: border-box;
}

.like-icon {
  height: 100%;
  width: 100%;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button {
  min-width: 130px;
  max-width: min-content;
  padding: 10px 0px;
  align-self: flex-end;
}

.button__text {
  font-family: var(--font-accent), Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight-card);
  font-size: 14px;
  color: var(--brand-color);
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.filter__calm {
  filter: saturate(20%);
}

.filter__crazy {
  filter: saturate(300%);
}

.filter__synthwave {
  filter: hue-rotate(30deg);
}

.filter__swamp {
  filter: invert(75%);
}

.filter__sepia {
  filter: sepia(90%);
}

.filter__blur {
  filter: blur(20px);
}

.filter__summertime {
  filter: hue-rotate(70deg) blur(2px) brightness(140%) contrast(80%)
    saturate(70%);
}

dialog {
  position: fixed;
  inset: 0;
}

dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  width: 90vw;
  max-width: 353px;
}

dialog[open] .dialog__popup {
  display: flex;
  flex-direction: row;
  justify-self: center;
  column-gap: 20px;
  margin-block-start: 15px;
}

dialog[open] .dialog__text {
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
  width: 200px;
}

dialog[open] .dialog__icon {
  height: 39px;
  width: 39px;
  margin-top: 12px;
}

dialog[open] .dialog__button {
  flex-direction: column;
  max-width: fit-content;
  padding: 7px 26px;
  margin-block-end: 15px;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

body:has(dialog[open]) {
  overflow: hidden;
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.save__save-button {
  flex-direction: column;
  max-width: fit-content;
  margin-top: 50px;
  margin-block-end: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: var(--save-button-top-and-bottom-padding);
  padding-bottom: var(--save-button-top-and-bottom-padding);
  mix-blend-mode: difference;
}

.save__save-icon {
  height: 28px;
  width: 28px;
  margin-bottom: 8px;
  color: var(--brand-color);
  z-index: 10;
  mix-blend-mode: difference;
}

/*Общие стили для кнопок кроме сердечка*/

.bw-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-color);
  border: var(--window-border);
  overflow: hidden;
  transition: 0.3s ease;
}

.bw-button:focus {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.bw-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.bw-button:hover::before {
  transform: translateX(0);
  cursor: pointer;
}

@media (min-width: 600px) {
  .card__illustration-label {
    top: 25px;
    right: 25px;
  }

  .card__text {
    padding: 23px 25px 2px 25px;
    font-size: 18px;
    line-height: 21px;
  }

  .save__save-button {
    flex-direction: row;
  }

  .save__save-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 0px;
    margin-right: 8px;
  }

  dialog[open] .dialog__popup {
    column-gap: 20px;
    padding-right: 34px;
  }

  dialog[open] .dialog__button {
    padding: 8px 44px;
  }
}

@media (width <= 375px) {
  .header__content,
  .card {
    width: 100%;
  }
}
