/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: var(--font-weight-card);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79vh;
  width: 100%;
  background-color: yellowgreen;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--header-content-width);
  height: var(--header-content-height);
  text-align: center;
  gap: 20px;
  background-color: rgb(255 255 255);
  border: var(--window-border);
}

.header__title {
  font-family: var(--font-accent), sans-serif;
  font-variation-settings: var(--font-weight-card);
  font-size: clamp(3.0625rem, 2.7993rem + 1.4035vw, 4.0625rem);
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--font-accent), sans-serif;
  font-variation-settings: var(--font-weight-card);
  font-size: clamp(0.875rem, 0.727rem + 0.7895vw, 1.4375rem);
  text-transform: uppercase;
}
