/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-main: "Inter-Variable";
    --font-accent: "PressStart2P-Regular";
    --font-weight-title: 700;
    --font-weight-card: 400;
    --content-section-width: clamp(375px, 90vw, 700px);
    --window-border: 2px solid rgb(0 0 0);
    --main-section-gap: clamp(51px, 5vh, 85px);
    --save-button-top-and-bottom-padding: clamp(15px, 2vh, 15px);
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-red: rgba(255, 0, 0, 1);
}
